* {
  margin: 0;
  padding: 0;
}

:root {
  --dimensions: 16;
  --pad-border: 8px;
  --pad-size: calc(100vmin - 2 * var(--body-margin) - 2 * var(--pad-border));
  --body-margin: 1rem;
}

body {
  margin: var(--body-margin);
}

#container {
  border: var(--pad-border) inset #ed0e0d;
  display: grid;
  grid-template-columns: repeat(var(--dimensions), 1fr);
  grid-template-rows: repeat(var(--dimensions), 1fr);
  width: var(--pad-size);
  height: var(--pad-size);
}

#controls {
  display: grid;
  grid-template-rows:  1fr 1fr 1fr;
  /* align-items: center; */
  gap: 2rem;
}



.inner-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}

.mobile {
  display: none;
}

@media (orientation: portrait), (max-width: 650px) {
  .inner-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (orientation: portrait) {
  :root {
    --body-margin: .6rem;
  }

  .inner-wrapper {
    grid-template-columns: 1fr;
  }

  #controls.with-prompt {
    grid-template-rows:  1fr 1fr 1fr 1fr;
  }

  #controls #clear {
    min-height: 5rem;
  }

  .mobile {
    display: block;
  }

  .not-scrolling {
    height: 85vh;
    overflow: hidden;
  }
}
